<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <lyra_lyraindia>
                <debug>1</debug>
                <active>0</active>
                <test_mode>1</test_mode>
                <integration_type>standard</integration_type>
                <model>Lyra\LyraIndia\Model\Payment\LyraIndia</model>
                <title>Credit/Debit Cards (powered by Lyra India)</title>
                <shop_id></shop_id>
                <test_api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <live_api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <currency>INR</currency>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <sort_order>400</sort_order>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <min_order_total>1</min_order_total>
                <max_order_total>500000</max_order_total>
            </lyra_lyraindia>
        </payment>
    </default>
</config>
