<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_before">
      <observer name="LyraLyraIndia_ObserverBeforeSalesOrderPlace" instance="Lyra\LyraIndia\Observer\ObserverBeforeSalesOrderPlace"/>
   </event>
    <event name="lyraindia_payment_verify_after">
        <observer name="LyraLyraIndia_ObserverAfterPaymentVerify" instance="Lyra\LyraIndia\Observer\ObserverAfterPaymentVerify" />
    </event>
</config>
